body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.options-btns {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#post-list {
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.like-comment {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-btn, .comment-btn, .logout-btn {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-input:focus {
    outline: none;
    border-color: #007bff;
}
